@media (max-width: 780px) {


    #hero_main {
        padding: 0px;
    }

    #catalogo_content,
    #footer_main {
        padding: 20px;
    }

    .hero_content {
        width: 100%;
    }

    .hero_title {
        font-size: 2.8rem;
    }

    .hero_description br {

        display: none;

    }

    .footer_second,
    .footer_terms {
        flex-direction: column;
    }

    .footer_terms {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    #header_main {
        padding: 20px;
    }

    #hero_main {
        padding: 20px;
    }

    #footer_main {
        padding: 20px;
    }

    #catalogo_content {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    #main_content {
        background: url('../images/hero-banner-mobile.jpg');
        background-size: cover;
        background-position: center;
    }

    .hero_title {
        font-size: 2.8rem;
    }

    .hero_description br,
    .footer_first p br {

        display: none;

    }

    .footer_second,
    .footer_terms {
        flex-direction: column;
    }

    .footer_terms {
        gap: 20px;
    }
}