@media (max-width: 480px) {
    #header_main {
        padding: 20px;
    }

    #hero_main {
        padding: 20px;
    }

    #footer_main {
        padding: 20px;
    }

    #catalogo_content {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    #main_content {
        background: url('../images/backgrounds/hero-banner-Mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .hero_title {
        font-size: 2.8rem;
    }

    .hero_description br,
    .footer_first p br {

        display: none;

    }

    .footer_second,
    .footer_terms {
        flex-direction: column;
    }

    .footer_terms {
        gap: 20px;
    }
}